#main-header {
    padding: 50px;
    background-color: black;
    text-align: center;
}
  
  .container {
    min-height: 20px;
    min-width: 50px;
    margin: 0 auto;
  }
  
  h1 { 
    background-color: black;
    font-size: 2.3rem; 
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
    padding: 15px;
    background-color: black;
    color:aliceblue
}

#main-img {
    max-width:100%;
    height:200px;
    padding: 20px;
}

.description {
    text-align: center;
}

.carousel {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.carousel__item {
  height: 500px;
  width: 500px;
  background: rgb(246, 241, 244);
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  color: rgb(0, 0, 0);
  display: none;
}

.carousel__item--selected {
  display: block;
}

.carousel__img {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(22, 21, 21, 0.877);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(112, 109, 109, 0.938);
}
